<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883168315312-er4jpqd5323o23pqtvfac7g5q2sjggqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883168315312-er4jpqd5323o23pqtvfac7g5q2sjggqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCIenpvZbt9oP8wJq0CJ5bGLJZI7tmeII8</string>
	<key>GCM_SENDER_ID</key>
	<string>883168315312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wustl.HealthRXApp</string>
	<key>PROJECT_ID</key>
	<string>healthrx-c62d2</string>
	<key>STORAGE_BUCKET</key>
	<string>healthrx-c62d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883168315312:ios:9a2f87a5a45f933a</string>
	<key>DATABASE_URL</key>
	<string>https://healthrx-c62d2.firebaseio.com</string>
</dict>
</plist>